#mapbox-legend-container {
  display: flex;
  max-height: 50vh;
}

.mapbox-legend::-webkit-scrollbar, .mapbox-legend::-webkit-scrollbar-track, .mapbox-legend::-webkit-scrollbar-track-piece {
    background-color: transparent;
    width: 2px;
}

.mapbox-legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100px;
  margin-right: 10px;
  overflow-y: scroll !important;
}

.mapbox-legend-color {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mapbox-legend-title {
    font-weight: bold;
}
.mapbox-legend .middle {
  vertical-align: middle;
}
