    p {
        font-size: 20px;
        font-weight: bold;
        em {
            background: yellow;
            padding: 5px;
        }
    }

    .map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .options {
        height: 50px;
        background-color: white;
        background-image: "./WMF-Agora-Settings_808080.svg";
        width: 50px;
        text: padding: 6px;
        margin: 5px
    }

    .legend {
        background-color: #202020;
        color: #fff;
        border-radius: 3px;
        bottom: 50px;
        width: 100px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 12px;
        position: absolute;
        right: 10px;
        z-index: 1;
        overflow: hidden;
    }

    .legend h4 {
        margin: 0 0 10px;
    }

    .legend-title {
        margin: 6px;
        padding: 6px;
        font-weight: bold;
        font-size: 14px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    .legend div span {
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        margin-right: 5px;
        width: 10px;
    }

    @import (less) "./style/mapbox-gl.css";
    /* Dark attribution */

    .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
        background: rgba(0, 0, 0, .8);
    }

    .mapboxgl-ctrl.mapboxgl-ctrl-attrib a {
        color: #fff;
    }

    #popup-menu ul,
    #menu li {
        margin: 0;
        padding: 0;
        z-index: 100;
    }

    .map {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: visible;
    }

    .error {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 30px;
        background-color: #FFFFFF;
        font-color: black;
        font-weight: 800;
        display: none;
    }

    .mapboxLink {
        position: relative;
        color: blue;
        text-align: center;
        font-size: 30px;
        line-height: 10px;
        transition: all 900ms ease;

        &:hover {
            color: #5080B0;
            border-color: #5080B0;
            transition: all 250ms ease;
        }

        &.hidden {
            display: none;
        }
    }